.todoForm {
    height: 60px;
    margin: 16px;
}
.todoInput {
    box-sizing: border-box;
    width: 517px;
    height: 35px;
    padding: 10px;
    font-size: 16px;
}
.addButton {
    width: 120px;
    height: 34px;
}
.todoTitle {
    font-size: 32px;
    margin-left: 16px;
    margin-left: 250px;
}
.todoList {
    list-style: none;
    margin: 16px;
    padding: 0;
}

.todoItem {
    display: flex;
    justify-content: space-between;
    background-color: #f7f9fa;
    align-items: center;
    width: 590px;
    height: 45px;
    margin-bottom: 16px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 20px;
}

.todoText {
    font-size: 16px;
    font-family: "paybooc-Light", sans-serif;
    font-weight: 600;
}

.button {
    width: 50px;
    margin-left: 10px;
}
.todo {
    width: 670px;
    position: absolute;
    margin-left: 300px;
}