<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform"
      xmlns:u="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link href="/css/todo.css" rel="stylesheet">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div class="todo">
        <h3 class="todoTitle">오늘의 할일</h3>
        <form class="todoForm">
            <input type="hidden" id="userNo" th:value="${userNo}">
            <input class="todoInput" id="todoInput" type="text"/>
            <button class="w-btn w-btn-indigo" onclick="addTodo();">저장</button>
        </form>
        <div id="todoList">
            <ul class="todoList">
                <li class="todoItem" th:id="'item'+${todoList.id}" th:each="todoList : ${todoList}">
                    <p class="todoText" th:id="'text'+${todoList.id}" th:text="${todoList.item}" th:style="${todoList.status == 'completed' ? 'text-decoration: line-through;' : ''}"/>
                    <div>
                        <button th:if="${todoList.status != 'completed'}" th:id="'complete'+${todoList.id}" class="w-btn w-btn-indigo" th:onclick="completeTodo([[${todoList.id}]]);">완료</button>
                        <button class="w-btn w-btn-indigo" th:onclick="deleteTodo([[${todoList.id}]]);">삭제</button>
                        <button class="w-btn w-btn-indigo" th:onclick="detailTodo([[${todoList.id}]]);">상세</button>
                    </div>
                    <div class="modal" th:id="'detailModal'+${todoList.id}">
                        <div class="modal-overlay">
                            <div class="modal-window">
                                <div class="close-area"><button id="closeModalBtn" th:onclick="closeModal([[${todoList.id}]]);">X</button></div>
                                <div class="title">
                                    <h2>Todo Detail</h2>
                                </div>
                                <div class="content">
                                    <p th:text="'id: '+${todoList.id}"/>
                                    <p th:text="'item: '+${todoList.item}"/>
                                    <p th:text="'status: '+${todoList.status}"/>
                                    <p th:text="'user number: '+${todoList.userNo}"/>
                                    <p th:text="'create time: '+${todoList.createdTime}"/>
                                    <p th:text="'completed time: '+${todoList.completedTime}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</body>
</html>
