<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <style>
        .todo {
            width: 1000px;
            position: absolute;
            margin: 50px;
            left: 650px;
        }
        .todoText {
            width: 500px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="todo">
        <h3 class="todoTitle">Todo List</h3>
        <form class="todoForm">
            <input type="hidden" id="userNo" th:value="${userNo}">
            <input type="hidden" id="exception" th:value="${exMessage}">
            <input class="todoInput" id="todoInput" type="text"/>
            <button class="w-btn w-btn-indigo" onclick="addTodo();">저장</button>
        </form>
        <div id="todoList">
            <ul class="todoList">
                <li class="todoItem" th:id="'item'+${todoList.id}" th:each="todoList : ${todoList}">
                    <p class="todoText" th:id="'text'+${todoList.id}" th:text="${todoList.item}"  th:style="${todoList.status == 'completed' ? 'text-decoration: line-through;' : ''}"/>
                    <div>
                        <button th:if="${todoList.status != 'completed'}" th:id="'complete'+${todoList.id}" class="w-btn w-btn-indigo" th:onclick="completeTodo([[${todoList.id}]]);">완료</button>
                        <button class="w-btn w-btn-indigo" th:onclick="deleteTodo([[${todoList.id}]]);">삭제</button>
                        <button class="w-btn w-btn-indigo" th:onclick="detailTodo([[${todoList.id}]]);">상세</button>
                    </div>
                    <div class="modal" th:id="'detailModal'+${todoList.id}">
                        <div class="modal-overlay">
                            <div class="modal-window">
                                <div class="close-area"><button id="closeModalBtn" th:onclick="closeModal([[${todoList.id}]]);">X</button></div>
                                <div class="title">
                                    <h2>Todo Detail</h2>
                                </div>
                                <div class="content">
                                    <p th:text="'id: '+${todoList.id}"/>
                                    <p th:text="'item: '+${todoList.item}"/>
                                    <p th:text="'status: '+${todoList.status}"/>
                                    <p th:text="'user number: '+${todoList.userNo}"/>
                                    <p th:text="'create time: '+${todoList.createdTime}"/>
                                    <p th:text="'completed time: '+${todoList.completedTime}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</th:block>
</body>
<script>
    (function() {
        if($('#exception').val() != ''){
            console.log($('#exception').val());
        }
    })();
</script>
</html>
<script>
    function logout(){
        $.ajax({
            url: "/user/logout",
            type: "post"
        }).done(function() {
            alert("로그아웃 되었습니다.");
            location.href = "/user/login";
        });
    }
</script>
